:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3d88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-border: 4px;
  --size-btn: 60px;
  --size-face: 60px;
  --font-size: 18px;
  /* animation */
  --animation-duration: 300ms;
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}
.logo:hover,
.btn:hover {
  transform: scale(1.1);
}
.btn {
  margin-right: var(--base-space);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}
.btn_wrap {
  display: flex;
  align-items: center;
}
.img_btn {
  width: var(--size-btn);
  height: var(--size-btn);
  background-color: var(--color-light-grey);
}
.color_btn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}
.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}
.worried {
  background-color: var(--color-worried);
}
.fight {
  background-color: var(--color-fight);
}
.weird {
  background-color: var(--color-weird);
}

.items {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  overflow-y: auto;
  width: 60%;
  height: 400px;
  list-style: none;
  padding-left: 0;
}
.item {
  width: 42.5%;
  height: 40px;
  box-sizing: border-box;
  padding: var(--base-space);
  position: relative;
  margin-bottom: var(--base-space);
  margin-right: var(--base-space);
  background-color: var(--color-white);
  /* display: flex; */
  padding: var(--base-space);
  cursor: pointer;
  text-align: center;
  /* align-self: center; */
}

.item::after {
  opacity: 0;
  content: "copied";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 50px;
  height: 30px;
  line-height: 30px;
  border-radius: var(--size-border);
  display: inline-block;
  text-align: center;
  background-color: var(--color-blue);
  color: #fff;
  transition: calc(var(--animation-duration) * 2);
}
.item.copied::after {
  opacity: 1;
}
.face {
  display: inline-block;
}
.item_description {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
