* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}
:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3d88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;

  /* size */
  --base-space: 0.25rem;
  --size-border: 4px;
  --size-btn: 60px;
  --size-face: 60px;
  --font-size: 1rem;
  /* animation */
  --animation-duration: 300ms;
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  padding: calc(var(--base-space) * 2);
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  color: #eee;
}
.logo:hover,
.btn:hover {
  transform: scale(1.1);
}
.btn {
  margin: var(--base-space);
  padding: calc(var(--base-space) * 2);
  background-color: transparent;
  border: 2px solid var(--color-yellow);
  color: var(--color-yellow);
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  font-size: var(--font-size);
  border-radius: var(--size-border);
}
.btn.on {
  border-color: var(--color-pink);
  color: var(--color-pink);
}
.btn_wrap {
  display: flex;
  margin: calc(var(--base-space) * 3);
  width: 60%;
  align-items: center;
  justify-content: center;
}
.txt {
  color: #eee;
}

.items {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 60%;
  height: 400px;
  list-style: none;
  box-sizing: border-box;
  justify-content: center;
  align-content: baseline;
}
.item {
  width: 150px;
  height: 40px;
  box-sizing: border-box;
  padding: var(--base-space);
  position: relative;
  margin: var(--base-space);
  background-color: var(--color-white);
  padding: var(--base-space);
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.item::after {
  opacity: 0;
  content: "copied";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 4px 6px;
  width: 50px;
  height: 30px;
  line-height: 30px;
  border-radius: var(--size-border);
  display: inline-block;
  text-align: center;
  background-color: var(--color-blue);
  color: #fff;
  transition: calc(var(--animation-duration) * 2);
  font-size: 1rem;
}
.item.copied::after {
  opacity: 1;
}
.face {
  display: inline-block;
}
.item_description {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .btn_wrap,
  .items {
    width: 80%;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 12px;
  }
  .btn_wrap,
  .items {
    width: 90%;
  }
   {
    width: 90%;
  }
}
