:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3d88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-border: 4px;
  --size-btn: 60px;
  --size-thumb_nail: 60px;
  --font-size: 18px;
  /* animation */
  --animation-duration: 300ms;
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}
.logo:hover,
.btn:hover {
  transform: scale(1.1);
}
.btn {
  margin-right: var(--base-space);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}
.btn_wrap {
  display: flex;
  align-items: center;
}
.img_btn {
  width: var(--size-btn);
  height: var(--size-btn);
  background-color: var(--color-light-grey);
}
.color_btn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}
.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}
.items {
  overflow-y: auto;
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
}
.item {
  margin-bottom: var(--base-space);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
}
.thumb_nail {
  display: inline-block;
}
.item_description {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
